*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
}
.grid{
    background-color: aqua;
    display: grid;
    grid-template-columns:auto ;
    gap: 15px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    grid-template-areas: ". LEFT RIGHT . " "FOOTER FOOTER FOOTER FOOTER";
    margin: auto;
}
.card{
    background-color: blueviolet;
}
.card1{
    background-color: yellow;
    grid-area: LEFT;
}
.card2{
    background-color: blue;
    grid-area: RIGHT;
}
.card3{
background-color: brown;
grid-area: FOOTER;
}
@media(max-width: 768px) {
    .grid{ 
        grid-template-areas: "LEFT" "RIGHT" "FOOTER";
        grid-template-columns: 1fr;
    }
    .card3{
        display: none;
    }
}